@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --playfair: 'Playfair Display';
    --roboto: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
}

.background {
    background-color: rgb(20, 153, 190);
    clip-path: polygon(0% 100%, 100% 40%, 100% 0%, 0% 0%);
	width: 100vw;
	height: 70vh;
	position: absolute;
	z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.about-me {
    background-color: white;
    box-shadow: 0 0 5px 3px rgba(128, 128, 128, 0.5);
    display: flex;
    width: 500px;
    position: relative;
}

.about-me img {
    width: 200px;
    margin: 0;
    padding: 0;
}

.about-me span {
    position: absolute;
    bottom: 0;
    left: 0;
}
