@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --playfair: 'Playfair Display';
    --roboto: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me {
    background-color: white;
    display: flex;
    padding: 2rem;
    width: 500px;
}

img {
    width: 200px;
}
