@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --playfair: 'Playfair Display';
    --roboto: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
}

.background {
    background-color: rgb(20, 153, 190);
    clip-path: polygon(0% 100%, 100% 40%, 100% 0%, 0% 0%);
	width: 100vw;
	height: 70vh;
	position: absolute;
    top: 0;
	z-index: -1;
}

.container {
    height: 100vh;
    display: absolute;
    z-index: 3;
}

.about-me {
    width: 700px;
    margin: 3rem auto;
    top: 0;
    left: 0;
    border-radius: 3px;
    display: flex;
}

.image {
    height: 150px;
    vertical-align: middle;
    background-color: white;
}

.image img{
    width: 250px;
    margin: 0;
    padding: 0;
}

.text {
    background-color: rgb(255, 255, 255);
    padding: 1.6rem;
    /* position: absolute; */
    margin: 40px 0;
    box-shadow: 0 0 5px 3px rgba(128, 128, 128, 0.5);
    height: 300px;
}

.text h3 {

    color: rgba(0, 0, 0);
    margin-bottom: 20px;
    font-family: var(--playfair);
    font-size: 1.6rem;
    font-weight: 400;
}

.text p {
    color: rgba(0, 0, 0, 0.6);
    font-family: var(--roboto);
}

.icons {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    gap: 15px;
}

.icons i {
    font-size: 1.6rem;
}


.about-me span {
    position: relative;
    top: -55px;
    left: calc(50% - 73.03px);
    color: black;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 0;
    font-family: var(--playfair);
}
